.appraisal{
	 height: 100%;
 }
 .appraisal .appraisal_btn ul{
	 display: flex;
	 margin: 0 .4rem;
	 margin-top: .6rem;
 }
 .appraisal .appraisal_btn ul li{
	 width: 3.2rem;
	 height: 1.6rem;
	 box-shadow: 0px 8px 22px 2px rgba(63, 63, 63, 0.12);
	 border-radius: .1rem;
 }
 .appraisal .appraisal_btn ul .online{
	 background: url(../../assets/images/home/online.png) no-repeat left top;
	 background-size: 100%;
	 margin-right: .3rem;
 }
 .appraisal .appraisal_btn ul .idea{
 	 background: url(../../assets/images/home/idea.png) no-repeat left top;
 	 background-size: 100%;
 }
 .appraisal .my_appraisal{
	 margin: 0 .4rem;
	 margin-top: .6rem;
 }
 .appraisal .my_appraisal .title{
	 font-size: .36rem;
	 margin-bottom: .4rem;
 }
 .appraisal .my_appraisal>ul li{
	 display: flex;
	 margin: .4rem 0;
 }
 .appraisal .my_appraisal>ul li .left{
	 flex: 1;
	 margin-top: -.6rem;
 }
 .appraisal .my_appraisal>ul li .left img{
	 width: .53rem;
	 height: .43rem;
 }
 .appraisal .my_appraisal>ul li .right{
 	 flex: 6;
 }
 .appraisal .my_appraisal>ul li .right .top{
	 display: flex;
 }
 .appraisal .my_appraisal>ul li .right .top p{
	 font-size: .32rem;
	 flex: 2;
 }
 .appraisal .my_appraisal>ul li .right .top div{
	 flex: 1;
	 font-size: .22rem;
	 text-align: right;
 }
 .appraisal .my_appraisal>ul li .right .top span{
	 display: inline-block;
 	 width: 1.2rem;
	 height: .4rem;
	 background: #dacdba;
	 border-radius: .2rem;
	 color: #fff;
	 text-align: center;
	 line-height: .4rem;
 }
 .appraisal .my_appraisal>ul li .right .text{
	 font-size: .26rem;
	 color: #666;
	 margin: .2rem 0;
 }
 .appraisal .my_appraisal>ul li .right ul{
	 display: flex;
	 overflow: hidden;
 }
 .appraisal .my_appraisal>ul li .right ul li{
	 width: 1.78rem;
	 height: 1.78rem;
	 max-width: 1.78rem;
	 max-height: 1.78rem;
	 margin-right: .2rem;
 }
 .appraisal .my_appraisal>ul li .right ul li img{
	 width: 1.78rem;
	 height: 1.78rem;
	 max-width: 1.78rem;
	 max-height: 1.78rem;
 }