body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li,
 pre, form, fieldset, legend, button, input, textarea, th, td ,tr{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	width: 100%;
}
#app{
	height: 100%;
	width: 100%;
}

body{
	font-family: PingFang SC Medium;
	background: #fff;
	color: #333;
	width: 100%;
	height: 100%;
	-webkit-user-select:none;  /*系统默认菜单被禁用*/
	user-select:none;  /*用户是否能够选中文本*/
}
img{
	pointer-events: none;/* 禁止长按图片出现手机自带菜单 */
}
*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	outline:none;
	background: none;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
ul{
    list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after {
 	content: '';
 	display: block;
 	height: 0;
 	clear: both;
 }
input,button{
	border: none;
	outline: none;
}
button{
	background: none;
}
textarea{
	border: none;
	outline: none;
}

/* 刷新 */
.mint-loadmore-text{
	font-size: .3rem;
}
.release{
	font-size: .3rem;
}
.data-none{
	font-size: .3rem;
	text-align: center;
}
.typeList .mint-loadmore{
	/* height: 70%; */
}
.typeList .mint-loadmore .mint-loadmore-content{
	/* height: 100%; */
}

/* index list */
.mint-indexsection-index{
	font-size: .36rem;
	background: #fff;
	color: #999;
	padding: .1rem .4rem;
}
.mint-indexlist-content{
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	padding-bottom: 1.2rem;
    box-sizing: border-box;
	width: 100%;
}
.mint-indexlist-nav{
	border-left: none;
	bottom: 1.2rem;
}
.mint-cell-wrapper{
	padding: 0 .4rem;
	background-image: none;
}
.mint-cell:last-child{
	background-image: none;
}

/* 搜索 */
.mint-searchbar-cancel{
	color: #999;
	font-size: .3rem;
}
.mint-search {
    width: 6.7rem;
    margin: 0 auto;
    margin-top: .2rem;
	height: auto;
}
.mint-searchbar{
	background: #fff;
	padding: 0;
}
.mint-searchbar-inner{
	background: #eee;
}
.mint-search-list{
	margin-top: 2rem;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

.picker-slot{
	font-size: .3rem;
}